$primary-red: hsl(10, 79%, 65%);
$primary-cyan: hsl(186, 34%, 60%);

$neutral-brown-0: hsl(28, 10%, 53%);
$neutral-brown-1: hsl(25, 47%, 15%);
$neutral-cream: hsl(27, 66%, 92%);
$neutral-orange: hsl(33, 100%, 98%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    font-size: 18px;
}

main{
    background-color: $neutral-cream;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense-container{
    display: grid;
    gap: 25px;
}

.top-section{
    display: flex;
    justify-content: space-between;
    background-color: $primary-red;
    color: $neutral-orange;
    padding: 30px;
    border-radius: 15px;
    
    .left-side > p:first-of-type{
        font-size: .9em;
        margin-bottom: 5px;
    }

    .left-side > p:last-of-type{
        font-size: 1.75em;
        font-weight: 700;
    }
}

.bottom-section{
    background-color: $neutral-orange;
    padding: 35px;
    border-radius: 15px;

    h1{
        color: $neutral-brown-1;
        font-size: 1.75em;
    }
    

    .chart-container{
        display: flex;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $neutral-cream;
        padding: 17px 0px 30px 0px;
        margin-bottom: 35px;
        justify-content: space-around;

        .bar-graph{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;

            .bar{
                width: 50px;
                background-color: $primary-red;
                border-radius: 5px;
                cursor: pointer;
            }

            .amount{
                color: $neutral-orange;
                background-color: $neutral-brown-1;
                font-weight: 700;
                padding: 8px;
                margin-bottom: 8px;
                border-radius: 5px;
                opacity: 0;
                font-size: .9em;
            }

            p:first-of-type{
                color: $neutral-brown-0;
                font-size: .85em;
                margin-top: 10px;
            }
        }

        .bar:hover{
            opacity: 0.6;
        }

        .bar:hover ~ .amount{
            opacity: 1;
        }
    
    }
    
    .expense-summary{
        .flex-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $neutral-brown-1;

            .right-side{
                text-align: right;
                color: $neutral-brown-0;
            }

            .right-side > p:first-of-type{
                color: $neutral-brown-1;
                font-weight: 700;
            }
        }

        .flex-container > p{
            font-weight: 700;
            font-size: 2.65em;
        }
    }

    .expense-summary > p{
        color: $neutral-brown-0;
    }
}

@media screen and (max-width: 590px) {

    .bottom-section{
        padding: 25px 20px;

        h1{
            font-size: 1.3em;
        }

        .chart-container{
            margin-bottom: 25px;

            .bar-graph{
                .bar{
                    width: 33px;
                }

                .amount{
                    font-size: .5em;
                }

                p:first-of-type{
                    font-size: .7em;
                }
            }
        }

        .expense-summary{
            .flex-container > p{
                font-size: 1.65em;
            }

            .flex-container{
                .right-side > p:last-of-type{
                    font-size: .85em;
                }

                .right-side > p:first-of-type{
                    font-size: .85em;
                }
            }
        }

        .expense-summary > p{
            font-size: .85em;
        }
    }

    .top-section{
        padding: 25px;

        .left-side > p:last-of-type{
            font-size: 1.3em;
        }

        .left-side > p:first-of-type{
            font-size: .85em;
        }
    }

    
}
